@import url("https://fonts.googleapis.com/css2?family=Poller+One&family=Poly&display=swap");

body {
  margin: 0;
  background-color: white;
  max-width: 100%;
}

.section-01 {
  height: 740px;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
  position: fixed;
  height: 90px;
  width: 98%;
  top: 10px;
  left: -2px;
  background-color: rgb(255, 255, 255, 0.95);
  border: 20px wheat;
  border-radius: 10px;
  z-index: 20;
}

a {
  display: flex;
  position: relative;
  top: 15px;
  float: right;
  padding-left: 0px;
  padding-right: 65px;
  color: black;
  text-decoration: none;
  left: -100px;
  font-family: "Poller One", cursive;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
  opacity: 100%;
  z-index: 1;
}

.logo {
  position: relative;
  padding-right: 370px;
  font-size: 45px;
  text-shadow: 5px 5px 0px #fff2d1;
  color: black;
  opacity: 100%;
}

.rectangle-01 {
  position: relative;
  left: 1075px;
  top: 0px;
  width: 190px;
  height: 52px;
  background: linear-gradient(0deg, #fff2d1, #fff2d1),
    linear-gradient(0deg, #fff2d1, #fff2d1), #fff2d1;
  filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 1));
  border-radius: 5px;
}

.rectangle-02 {
  left: 1050px;
  top: 15px;
  z-index: -1;
  position: absolute;
  width: 138px;
  height: 26px;
  left: 1009px;
  top: 426px;
  background: #fff2d1;
}

.rectangle-03 {
  position: relative;
  left: 900px;
  top: 290px;
  width: 250px;
  height: 52px;
  background: linear-gradient(0deg, #fff2d1, #fff2d1),
    linear-gradient(0deg, #fff2d1, #fff2d1), #fff2d1;
  filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 1));
  border-radius: 5px;
}

.svg-01 {
  position: absolute;
  top: 190px;
  left: 70px;
  filter: drop-shadow(-2px 2px 0px rgba(0, 0, 0, 0.1));
}

.para {
  position: relative;
  display: -moz-box;
  width: 563px;
  height: 276px;
  left: 750px;
  top: 310px;
  font-family: "Poly", serif;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #363636;
}

span {
  font-family: "Poller One", cursive;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #000000;
}

.svg-02 {
  position: absolute;
  top: -20px;
  left: 285px;
  z-index: -3;
}

.section-02 {
  height: 1400px;
}

.rectangle-04 {
  width: 1405px;
  height: 775px;
  top: 0px;
  left: 0px;
  background: linear-gradient(0deg, #fff2d1, #fff2d1),
    linear-gradient(0deg, #fff2d1, #fff2d1), #fff2d1;
  box-shadow: 50px 50px 0px rgba(0, 0, 0, 1);
  background: #fff2d1;
  border: 10px solid #000000;
  box-sizing: border-box;
  border-radius: 127px;
  z-index: 20;
}

.svg-05 {
  position: absolute;
  left: -94px;
  top: 1100px;
  z-index: 5;
}

.para-01 {
  position: absolute;
  width: 1154px;
  height: 378px;
  left: 145px;
  top: 970px;
  font-family: Poly;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}

.para-02 {
  position: absolute;
  width: 614px;
  height: 63px;
  left: 678px;
  top: 1264px;
  font-family: Poly;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 71px;
  text-align: right;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.svg-06 {
  position: absolute;
  left: 60%;
  top: 1320px;
  z-index: 0;
}

.rectangle-05 {
  position: absolute;
  width: 202px;
  height: 30px;
  left: 212px;
  top: 900px;
  background: white;
  box-sizing: border-box;
  z-index: 5;
}

.rectangle-06 {
  position: absolute;
  width: 100%;
  height: 775px;
  top: 1605px;
  left: 0px;
  background: white;
  box-sizing: border-box;
  z-index: 5;
}

.heading {
  position: absolute;
  width: 276px;
  height: 63px;
  left: 227px;
  top: 829px;
  z-index: 6;
  font-family: Poller One;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 53px;
  letter-spacing: 0.2em;
  color: #000000;
}

.para-03 {
  position: absolute;
  width: 600px;
  height: 649px;
  left: 580px;
  top: 1823px;
  font-family: Poly;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #000000;
  z-index: 10;
}

.para-04 {
  position: relative;
  width: 614px;
  height: 63px;
  left: 379px;
  top: -350px;
  font-family: Poly;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 71px;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.15);
  transform: rotate(90deg);
  z-index: 200;
}

.svg-07 {
  position: relative;
  top: 250px;
  left: 100px;
}

.heading-01 {
  position: absolute;
  width: 328px;
  height: 63px;
  left: 900px;
  top: 1669px;
  z-index: 16;
  font-family: Poller One;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 53px;
  letter-spacing: 0.2em;
  color: #000000;
}

.rectangle-07 {
  position: relative;
  width: 254px;
  height: 33px;
  left: 924px;
  top: -440px;
  background: #fff2d1;
  z-index: 11;
}
